.info-text-align{
	padding-left: 4.2%;
}
.padding-top-1-percent{
	padding-top: 1%;
}
.register-button-align{
	padding-left: 17.3%;
}
.float-left{
	float: left;
}
.label-component-align{
	padding-right: 2%;
	width: 17%;	
}
.width-30-percent{
	width: 30%;
}