<div class="container">
	<div class="row">
		<form class="form-horizontal" action='' method="POST">
			<fieldset>
				<div id="legend">
					<legend class="">Register</legend>
				</div>
				<div class="form-group">
					<!-- Username -->
					<label class="control-label label-component-align float-left"
						for="username">Username</label>
					<div class="controls">
						<input type="text" id="username" name="username"
							placeholder="Enter Username"
							class="form-control inputdefault width-30-percent">
					</div>
				</div>

				<div class="form-group padding-top-1-percent">
					<!-- E-mail -->
					<label class="control-label label-component-align float-left"
						for="email">E-mail</label>
					<div class="controls">
						<input type="text" id="email" name="email"
							placeholder="Enter E-mail"
							class="form-control inputdefault width-30-percent">
					</div>
				</div>

				<div class="form-group padding-top-1-percent">
					<!-- Password-->
					<label class="control-label label-component-align float-left"
						for="password">Password</label>
					<div class="controls">
						<input type="password" id="password" name="password"
							placeholder="Enter Password"
							class="form-control inputdefault width-30-percent">
					</div>
				</div>

				<div class="form-group padding-top-1-percent">
					<!-- Password -->
					<label class="control-label label-component-align float-left"
						for="password_confirm">Password (Confirm)</label>
					<div class="controls">
						<input type="password" id="password_confirm"
							name="password_confirm" placeholder="Confirm Password"
							class="form-control inputdefault width-30-percent">
					</div>
				</div>

				<div class="form-group padding-top-1-percent">
					<label class="control-label label-component-align float-left"
						for="dob">DOB</label>
					<div class="input-group date width-30-percent" data-provide="datepicker">
						<input type="text" class="form-control">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</div>

				<div class="control-group padding-top-1-percent">
					<!-- Button -->
					<div class="controls register-button-align">
						<button class="btn btn-success">Register</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
